body {
  background-image: url("../img/SL-043021-42650-28.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.row {
  padding: 0px !important;
  margin: 0px !important;
}
