@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
* {
  font-family: "Mukta", sans-serif;
}
.btn-font {
  font-size: 18px;
}
ul li a {
  margin-right: 2vw;
  font-size: 18px;
  font-weight: 500;
}
.paginate {
  margin: 0 !important;
}
.avatar {
  width: 35px;
  height: 35px;
}
body {
  background-color: #121212;
}
.hover-animate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hover-animate:hover,
.hover-animate:focus,
.hover-animate:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.hover-drop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hover-drop:hover,
.hover-drop:focus,
.hover-drop:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.hover-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hover-item:hover,
.hover-item:focus,
.hover-item:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.row {
  padding: 0px !important;
  margin: 0px !important;
}
.btn-mod {
  background-color: #b23b3b;
}
.whiter {
  color: #fff !important;
}
.image-admin {
  height: 40px;
  width: 40px;
  border: 2px solid #555;
  border-radius: 50%;
  vertical-align: middle;
}
.container-profile {
  display: inline-block;
}
.userProfile {
  height: 45px;
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}
.profile-section {
  float: right;
  position: relative;
  cursor: pointer;
}
.dropdown-menu[data-bs-popper] {
  right: 10%;
  left: unset;
  background-color: #424242;
}
.username {
  margin-top: 8px;
}
.bc-modal {
  background-color: #424242 !important;
}
